.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  display: flex;
  .el-menu-demo {
    display: flex;
    width: 100%; /* 确保菜单填充整个容器 */
  }
}

.scoreboard {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 20px;
  width: 100%;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
}

.label {
  font-size: 16px;
  margin-bottom: 8px;
}

.value {
  font-size: 32px;
  font-weight: bold;
}

.divider {
  height: 50px; /* Adjust as per your design */
  border-left: 1px solid #555; /* Lighter/Darker line color as per your design */
  margin: 0 20px; /* Spacing between scores */
}

